# List

In [1]:
# creating an empty list in python
height = []
type(height)

list

In [2]:
# a list containing heights
height_list = [1.76,1.64,1.79,1,57]
print(height_list)

[1.76, 1.64, 1.79, 1, 57]

In [4]:
# a list containing str and float
name_height_list = ["Tom",1.76,"Harry",1.76,"Lisa",1.79,"Mona",1.57]
print(name_height_list)

['Tom', 1.76, 'Harry', 1.76, 'Lisa', 1.79, 'Mona', 1.57]

In [5]:
#Different list manipulation operations

In [6]:
lang = ['python','c','java']              #Begin with number zero

print(lang[0] + "is vary easy to learn for Data science")
print(lang[1] + "is the first languange I have learnt")
print(lang[2] + "is difficult to learn for Data science")

pythonis vary easy to learn for Data science
cis the first languange I have learnt
javais difficult to learn for Data science

In [9]:
lang = ["python","c","java"]             
print("old list:",lang)
lang[2] = "cobol"
print("new list:",lang)              #changing java with cobol language

old list: ['python', 'c', 'java']
new list: ['python', 'c', 'cobol']

In [11]:
# using for loop
language_list =["python","c","cobol"]
for language in language_list:
    print("language is:",language)

language is: python
language is: c
language is: cobol

In [13]:
#Using list's len() method
language_list = ["python","c","cobol"]
print("elements in the list:",len(language_list))

elements in the list: 3

In [ ]:
#Using list's append() method

In [10]:
language_list = ["python","c","cobol"]
language_list.append("java")
print("updated list is:",language_list)

updated list is: ['python', 'c', 'cobol', 'java']

In [11]:
language_list = ["python","c","cobol"]            # Adding a new language .net
language_list.insert(2,'.net')
print("modified list is:",language_list)

modified list is: ['python', 'c', '.net', 'cobol']

In [13]:
language_list = ['python', 'c', '.net', 'cobol','java'] #Removing some element for list 
# remove element by name
language_list.remove('cobol')
print("updated list:",language_list)
# remove element by index
language_list.pop(3)
print("latest list:",language_list)

updated list: ['python', 'c', '.net', 'java']
latest list: ['python', 'c', '.net']

In [21]:
number_list = [1,2,3,4,5,1]                       # Applying different methods to remove an element
number_list.remove(4)
print("list after remove() example:", number_list)

num_list = [1,2,3,4,1] 
number_list.pop(4)
print("list after pop() example:",number_list)

number_list = [1,2,3,4,1]
del(number_list[4])
print("list after del() example:", number_list)

list after remove() example: [1, 2, 3, 5, 1]
list after pop() example: [1, 2, 3, 5]
list after del() example: [1, 2, 3, 4]

In [9]:
# Sorting list in ascending and descending order
language_list = ['python','c','.net','cobol','java']
language_list.sort()

In [10]:
print("sort in ascending order:",language_list)

sort in ascending order: ['.net', 'c', 'cobol', 'java', 'python']

In [11]:
language_list = ['python','c','.net','cobol','java']
language_list.sort(reverse=True)

In [12]:
print("sort in descending order:",language_list)

sort in descending order: ['python', 'java', 'cobol', 'c', '.net']

In [14]:
tuple_example = ('cs','it','ec','me')

In [15]:
print('tuple_example:',tuple_example)

tuple_example: ('cs', 'it', 'ec', 'me')

In [17]:
print("data type of the example is:", type(tuple_example))

data type of the example is: <class 'tuple'>

# Dictionary

In [58]:
# How to creating a dictionary
dict_example = {'name':'Rahul','father name':'Madan ray','brand':'land lover','model':'defender','type':'suv','year':'2025'}
print("dict_example:",dict_example)

dict_example: {'name': 'Rahul', 'father name': 'Madan ray', 'brand': 'land lover', 'model': 'defender', 'type': 'suv', 'year': '2025'}

# some operations with dictionary

In [60]:
# access the brand value by key
car_brand_by_key = dict_example['brand']

In [61]:
print("car brand by key:",car_brand_by_key)

car brand by key: land lover

In [62]:
# access the brand value by get()
print("car brand by get:",dict_example.get('brand'))

car brand by get: land lover

In [63]:
# changing value in dictionary
dict_example['year'] = '2026'
print("updated dict:",dict_example)

updated dict: {'name': 'Rahul', 'father name': 'Madan ray', 'brand': 'land lover', 'model': 'defender', 'type': 'suv', 'year': '2026'}

# for loop

In [65]:
# printing all keys
for car_property in dict_example:
    print("key in dict:",car_property)

key in dict: name
key in dict: father name
key in dict: brand
key in dict: model
key in dict: type
key in dict: year

In [66]:
# printing all values
for car_property_value in dict_example.values():
    print("value in dict:",car_property_value)

value in dict: Rahul
value in dict: Madan ray
value in dict: land lover
value in dict: defender
value in dict: suv
value in dict: 2026

In [67]:
# Displaying car details in a key-value pair
for car_property,car_property_value in dict_example.items():
    print(car_property,car_property_value)

name Rahul
father name Madan ray
brand land lover
model defender
type suv
year 2026

# Package,function,and loop

In [68]:
#using help() function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [69]:
# Math package provided by python
import math

In [71]:
# define area as variable area
area = 0
# define radius as varible r
r = 5.89
# calculate area
area = math.pi*r**2
print("area of the land is:",area)

area of the land is: 108.98844649760245

# importing pi package from math package

In [73]:
from math import pi
# define radius as variable r
r = 5.89
# calculate area
area = math.pi*r**2
print("area of the land is:",area)

area of the land is: 108.98844649760245

# How to create and call function

In [74]:
# defining my own function
def my_function():
    print("Hello world")

In [75]:
# calling my function
my_function()

Hello world

In [1]:
# Defining a function to return sum of two values
def add_two_numbers(a,b):
    return a + b

In [2]:
# call the function
add_two_numbers(9,8)

17

In [3]:
# Default parameter in a function
# defining a function with default parameter
def add_function(a,b = 6):
    return a + b

In [4]:
add_function(a=1)       # call add_function() with only a parameter

7

In [ ]:
#Sum() function to add three numbers

In [1]:
# Define add_function() function to accept
def add_function(*args):
    return sum(args)

In [2]:
#calculate the sum of the numbers
add_function(9,4,8)

21

In [3]:
#Global variable in python

In [12]:
# define a global scope variable
my_text = "I am learning python for Data science"

def first_function():
        """This function uses global scope variable"""
        print(my_text)
first_function

In [13]:
def second_function():
    """This function alse uses global scope variable"""
    print(my_text)
second_function()

I am learning python for Data science

In [15]:
def my_function():
    my_text = " I am also learning"
    print(my_text)

# define a Global scope variable
my_text = "I am learing python for Data dcience"
my_function()
print(my_text)

 I am also learning
I am learing python for Data dcience

# Lambda function and normal function

In [17]:
def multiply(x):
    return x*5
multiply(2)

10

In [18]:
# some functionality with lambda function
multiply = lambda x: x*5
multiply(2)

10

In [19]:
def sum(x,y):
    return x+y
sum(9,8)

17

In [20]:
# same example with lambda function
sum = lambda x, y: x+y;
sum(9,8)

17